In [0]:
# before 2000 date format 21-02-95(dd-mm-yy)

In [0]:
dbutils.fs.put("/schenarios/emp_data.csv","""EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO
7369,SMITH,CLERK,7902,17-12-80,800,null,20
7499,ALLEN,SALESMAN,7698,20-02-81,1600,300,30
7521,WARD,SALESMAN,7698,22-02-81,1250,500,30
7566,JONES,MANAGER,7839,04-02-81,2975,null,20
7654,MARTIN,SALESMAN,7698,21-09-81,1250,1400,30
7698,SGR,MANAGER,7839,05-01-81,2850,null,30
7782,RAVI,MANAGER,7839,06-09-81,2450,null,10
7788,SCOTT,ANALYST,7566,19-04-87,3000,null,20
7839,KING,PRESIDENT,null,01-11-81,5000,null,10
7844,TURNER,SALESMAN,7698,09-08-81,1500,0,30
7876,ADAMS,CLERK,7788,23-05-87,1100,null,20
7900,JAMES,CLERK,7698,12-03-81,950,null,30
7902,FORD,ANALYST,7566,12-03-81,3000,null,20
7934,MILLER,CLERK,7782,01-03-82,1300,null,10
1234,SEKHAR,doctor,7777,31-12-99,667,78,80""",True)

Wrote 719 bytes.
Out[1]: True

In [0]:
df_csv = spark.read.option("nullValue","null").csv("/schenarios/emp_data.csv",header=True,inferSchema=True)

In [0]:
#because of updated version 'HIREDATE' converted to date format,generally it wont convert
#default spark date format yyyy-mm-dd
df_csv.display()

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO
7369,SMITH,CLERK,7902,2080-12-17,800,null,20
7499,ALLEN,SALESMAN,7698,2081-02-20,1600,300,30
7521,WARD,SALESMAN,7698,2081-02-22,1250,500,30
7566,JONES,MANAGER,7839,2081-02-04,2975,null,20
7654,MARTIN,SALESMAN,7698,2081-09-21,1250,1400,30
7698,SGR,MANAGER,7839,2081-01-05,2850,null,30
7782,RAVI,MANAGER,7839,2081-09-06,2450,null,10
7788,SCOTT,ANALYST,7566,2087-04-19,3000,null,20
7839,KING,PRESIDENT,null,2081-11-01,5000,null,10
7844,TURNER,SALESMAN,7698,2081-08-09,1500,0,30
7876,ADAMS,CLERK,7788,2087-05-23,1100,null,20
7900,JAMES,CLERK,7698,2081-03-12,950,null,30
7902,FORD,ANALYST,7566,2081-03-12,3000,null,20
7934,MILLER,CLERK,7782,2082-03-01,1300,null,10
1234,SEKHAR,doctor,7777,2099-12-31,667,78,80

In [0]:
#default format exception
spark.conf.set("spark.sql.legacy.timeParserPolicy","EXCEPTION")

In [0]:
#default format set to legacy
spark.conf.set("spark.sql.legacy.timeParserPolicy","LEGACY")

In [0]:
%sql
select to_date("01-JAN-95","dd-MMM-yy")

"to_date(01-JAN-95, dd-MMM-yy)"
1995-01-01

In [0]:
from pyspark.sql.functions import to_date,col
display(df_csv.withColumn("HIREDATE",to_date("HIREDATE","dd-MM-yy")))
# Default Spark Date Format yyyy-MM-dd

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO
7369,SMITH,CLERK,7902,0018-02-18,800,null,20
7499,ALLEN,SALESMAN,7698,0020-04-21,1600,300,30
7521,WARD,SALESMAN,7698,0022-04-22,1250,500,30
7566,JONES,MANAGER,7839,0004-04-21,2975,null,20
7654,MARTIN,SALESMAN,7698,0021-11-20,1250,1400,30
7698,SGR,MANAGER,7839,0005-03-22,2850,null,30
7782,RAVI,MANAGER,7839,0006-11-20,2450,null,10
7788,SCOTT,ANALYST,7566,0019-06-26,3000,null,20
7839,KING,PRESIDENT,null,0002-01-20,5000,null,10
7844,TURNER,SALESMAN,7698,0009-10-20,1500,0,30
7876,ADAMS,CLERK,7788,0023-07-26,1100,null,20
7900,JAMES,CLERK,7698,0012-05-20,950,null,30
7902,FORD,ANALYST,7566,0012-05-20,3000,null,20
7934,MILLER,CLERK,7782,0001-05-21,1300,null,10
1234,SEKHAR,doctor,7777,0032-03-08,667,78,80

somehow HIREDATE column not converting,but it converted in video explination of github saved document,so please refer it  in your gitgub\
https://github.com/msazure1981/adb_realtime_scenarios/blob/main/azure_realtime_scenarios/how%20to%20handle%20yy%20date%20format%20in%20pyspark%20for%20before%202000%20data.ipynb