In [0]:
%fs ls "/FileStore/tables"

path,name,size,modificationTime
dbfs:/FileStore/tables/Browser_Extensions.pdf,Browser_Extensions.pdf,1979249,1654101077000
dbfs:/FileStore/tables/Employee.csv,Employee.csv,359,1689653118000
dbfs:/FileStore/tables/Orders_CSV-1.csv,Orders_CSV-1.csv,332292,1689652872000
dbfs:/FileStore/tables/Orders_CSV.csv,Orders_CSV.csv,332292,1689652604000
dbfs:/FileStore/tables/Orders_With_Nulls-1.xlsx,Orders_With_Nulls-1.xlsx,304054,1689599426000
dbfs:/FileStore/tables/Orders_With_Nulls.xlsx,Orders_With_Nulls.xlsx,304054,1689599348000
dbfs:/FileStore/tables/Test/,Test/,0,0
dbfs:/FileStore/tables/Test_Table-1.txt,Test_Table-1.txt,25,1689580949000
dbfs:/FileStore/tables/Test_Table-2.txt,Test_Table-2.txt,25,1689581188000
dbfs:/FileStore/tables/Test_Table-3.txt,Test_Table-3.txt,25,1689581357000
dbfs:/FileStore/tables/Test_Table.txt,Test_Table.txt,25,1689580911000
dbfs:/FileStore/tables/dept.csv,dept.csv,709,1701776526000
dbfs:/FileStore/tables/emp-1.csv,emp-1.csv,1950,1701696905000
dbfs:/FileStore/tables/emp.csv,emp.csv,1950,1701267946000
dbfs:/FileStore/tables/rrr.txt,rrr.txt,1314,1701430975000
dbfs:/FileStore/tables/rrr_dynamic.txt,rrr_dynamic.txt,1344,1701431247000
dbfs:/FileStore/tables/sample.txt,sample.txt,45,1701358002000

In [0]:
%fs head "/FileStore/tables/emp.csv"

In [0]:
%fs head "/FileStore/tables/dept.csv"

In [0]:
from pyspark.sql.functions import col
df_emp=spark.read.csv('/FileStore/tables/emp.csv',header=True)
dff_emp=df_emp.withColumn('EMP_DEPTNO',col('DEPTNO').cast(IntegerType()))

In [0]:
dff_emp.display()
dff_emp.printSchema()

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,UPDATED_DATE,EMP_DEPNTNO
7369,SMITH,CLERK,7902,17-12-1980,800,null,20,2022-01-01,20
7499,ALLEN,SALESMAN,7698,20-02-1981,1600,300,30,2022-01-01,30
7521,WARD,SALESMAN,7698,22-02-1981,1250,500,30,2022-01-01,30
7566,JONES,MANAGER,7839,04-02-1981,2975,null,20,2022-01-05,20
7654,MARTIN,SALESMAN,7698,21-09-1981,1250,1400,30,2022-01-03,30
7698,SGR,MANAGER,7839,05-01-1981,2850,null,30,2022-01-04,30
7782,RAVI,MANAGER,7839,06-09-1981,2450,null,10,2022-01-02,10
7788,SCOTT,ANALYST,7566,19-04-1987,3000,null,20,2022-01-02,20
7839,KING,PRESIDENT,null,01-11-1981,5000,null,10,2022-01-02,10
7844,TURNER,SALESMAN,7698,09-08-1981,1500,0,30,2022-01-02,30
7876,ADAMS,CLERK,7788,23-05-1987,1100,null,20,2022-01-03,20
7900,JAMES,CLERK,7698,12-03-1981,950,null,30,2022-01-03,30
7902,FORD,ANALYST,7566,12-03-1981,3000,null,20,2022-01-03,20
7934,MILLER,CLERK,7782,01-03-1982,1300,null,10,2022-01-03,10
1234,SEKHAR,doctor,7777,null,667,78,80,2022-01-03,80
7369,SMITH,CLERK,7902,17-12-1980,800,null,20,2022-01-04,20
7499,ALLEN,SALESMAN,7698,20-02-1981,1600,300,30,2022-01-04,30
7521,WARD,SALESMAN,7698,22-02-1981,1250,500,30,2022-01-04,30
7566,JONES,MANAGER,7839,04-02-1981,2975,null,20,2022-01-04,20
7654,MARTIN,SALESMAN,7698,21-09-1981,1250,1400,30,2022-01-05,30
7698,SGR,MANAGER,7839,05-01-1981,2850,null,30,2022-01-05,30
7782,RAVI,MANAGER,7839,06-09-1981,2450,null,10,2022-01-05,10
7788,SCOTT,ANALYST,7566,19-04-1987,3000,null,20,2022-01-06,20
7839,KING,PRESIDENT,null,01-11-1981,5000,null,10,2022-01-06,10
7844,TURNER,SALESMAN,7698,09-08-1981,1500,0,30,2022-01-06,30
7876,ADAMS,CLERK,7788,23-05-1987,1100,null,20,2022-01-06,20
7900,JAMES,CLERK,7698,12-03-1981,950,null,30,2022-01-07,30
7902,FORD,ANALYST,7566,12-03-1981,3000,null,20,2022-01-07,20
7934,MILLER,CLERK,7782,01-03-1982,1300,null,10,2022-01-07,10
1234,RAM,CLERK,7457,null,494,588,80,2022-01-07,80
null,null,null,null,null,null,null,null,null,null
null,null,null,null,null,null,null,null,null,null
null,null,null,null,null,null,null,null,null,null

root
 |-- EMPNO: string (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- MGR: string (nullable = true)
 |-- HIREDATE: string (nullable = true)
 |-- SAL: string (nullable = true)
 |-- COMM: string (nullable = true)
 |-- DEPTNO: string (nullable = true)
 |-- UPDATED_DATE: string (nullable = true)
 |-- EMP_DEPNTNO: integer (nullable = true)

In [0]:
df_dept=spark.read.csv('/FileStore/tables/dept.csv',header=True,inferSchema=True)
df_dept.display()

DEPTNO,DEPARTMENT_NAME,MANAGER_ID,LOCATION_ID
10,Administration,200,1700
20,Marketing,201,1800
30,Purchasing,114,1700
40,Human Resources,203,2400
50,Shipping,121,1500
60,IT,103,1400
70,Public Relations,204,2700
80,Sales,145,2500
90,Executive,100,1700
100,Finance,108,1700
110,Accounting,205,1700
120,Treasury,-,1700
130,Corporate Tax,-,1700
140,Control And Credit,-,1700
150,Shareholder Services,-,1700
160,Benefits,-,1700
170,Manufacturing,-,1700
180,Construction,-,1700
190,Contracting,-,1700
200,Operations,-,1700
210,IT Support,-,1700
220,NOC,-,1700
230,IT Helpdesk,-,1700
240,Government Sales,-,1700
250,Retail Sales,-,1700
260,Recruiting,-,1700
270,Payroll,-,1700

In [0]:
df_dept.printSchema()

root
 |-- DEPTNO: integer (nullable = true)
 |-- DEPARTMENT_NAME: string (nullable = true)
 |-- MANAGER_ID: string (nullable = true)
 |-- LOCATION_ID: integer (nullable = true)

In [0]:
df_final=dff_emp.join(df_dept,dff_emp["EMP_DEPTNO"]==df_dept["DEPTNO"],'inner')
df_final.display()

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,UPDATED_DATE,EMP_DEPTNO,DEPTNO,DEPARTMENT_NAME,MANAGER_ID,LOCATION_ID
7369,SMITH,CLERK,7902,17-12-1980,800,null,20,2022-01-01,20,20,Marketing,201,1800
7499,ALLEN,SALESMAN,7698,20-02-1981,1600,300,30,2022-01-01,30,30,Purchasing,114,1700
7521,WARD,SALESMAN,7698,22-02-1981,1250,500,30,2022-01-01,30,30,Purchasing,114,1700
7566,JONES,MANAGER,7839,04-02-1981,2975,null,20,2022-01-05,20,20,Marketing,201,1800
7654,MARTIN,SALESMAN,7698,21-09-1981,1250,1400,30,2022-01-03,30,30,Purchasing,114,1700
7698,SGR,MANAGER,7839,05-01-1981,2850,null,30,2022-01-04,30,30,Purchasing,114,1700
7782,RAVI,MANAGER,7839,06-09-1981,2450,null,10,2022-01-02,10,10,Administration,200,1700
7788,SCOTT,ANALYST,7566,19-04-1987,3000,null,20,2022-01-02,20,20,Marketing,201,1800
7839,KING,PRESIDENT,null,01-11-1981,5000,null,10,2022-01-02,10,10,Administration,200,1700
7844,TURNER,SALESMAN,7698,09-08-1981,1500,0,30,2022-01-02,30,30,Purchasing,114,1700
7876,ADAMS,CLERK,7788,23-05-1987,1100,null,20,2022-01-03,20,20,Marketing,201,1800
7900,JAMES,CLERK,7698,12-03-1981,950,null,30,2022-01-03,30,30,Purchasing,114,1700
7902,FORD,ANALYST,7566,12-03-1981,3000,null,20,2022-01-03,20,20,Marketing,201,1800
7934,MILLER,CLERK,7782,01-03-1982,1300,null,10,2022-01-03,10,10,Administration,200,1700
1234,SEKHAR,doctor,7777,null,667,78,80,2022-01-03,80,80,Sales,145,2500
7369,SMITH,CLERK,7902,17-12-1980,800,null,20,2022-01-04,20,20,Marketing,201,1800
7499,ALLEN,SALESMAN,7698,20-02-1981,1600,300,30,2022-01-04,30,30,Purchasing,114,1700
7521,WARD,SALESMAN,7698,22-02-1981,1250,500,30,2022-01-04,30,30,Purchasing,114,1700
7566,JONES,MANAGER,7839,04-02-1981,2975,null,20,2022-01-04,20,20,Marketing,201,1800
7654,MARTIN,SALESMAN,7698,21-09-1981,1250,1400,30,2022-01-05,30,30,Purchasing,114,1700
7698,SGR,MANAGER,7839,05-01-1981,2850,null,30,2022-01-05,30,30,Purchasing,114,1700
7782,RAVI,MANAGER,7839,06-09-1981,2450,null,10,2022-01-05,10,10,Administration,200,1700
7788,SCOTT,ANALYST,7566,19-04-1987,3000,null,20,2022-01-06,20,20,Marketing,201,1800
7839,KING,PRESIDENT,null,01-11-1981,5000,null,10,2022-01-06,10,10,Administration,200,1700
7844,TURNER,SALESMAN,7698,09-08-1981,1500,0,30,2022-01-06,30,30,Purchasing,114,1700
7876,ADAMS,CLERK,7788,23-05-1987,1100,null,20,2022-01-06,20,20,Marketing,201,1800
7900,JAMES,CLERK,7698,12-03-1981,950,null,30,2022-01-07,30,30,Purchasing,114,1700
7902,FORD,ANALYST,7566,12-03-1981,3000,null,20,2022-01-07,20,20,Marketing,201,1800
7934,MILLER,CLERK,7782,01-03-1982,1300,null,10,2022-01-07,10,10,Administration,200,1700
1234,RAM,CLERK,7457,null,494,588,80,2022-01-07,80,80,Sales,145,2500

In [0]:
#write delta format
df_final.write.format("delta").saveAsTable("delta_join_table")

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-2278425189029361>:2
      1 #write delta format
----> 2 df_final.write.format("delta").saveAsTable("delta_join_table")

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/readwriter.py:1520, in DataFrameWriter.saveAsTable(self, name, format, mode, partitionBy, **options)
   1518 if format is not None:
   1519     self.format(format)
-> 1520 self._jwrite.saveAsTable(name)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [COLUMN_ALREADY_EXISTS] The column `deptno` already exists. Consider to choose another name or rename the existing column.

In [0]:
#fix is remove additional EMP_DEPTNO condition or remove one of the column which is duplicate causing
df_final=dff_emp.join(df_dept,["DEPTNO"],'inner')

In [0]:
#write delta format
df_final.write.format("delta").saveAsTable("delta_join_table")

In [0]:
%sql
select * from delta_join_table

DEPTNO,EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,UPDATED_DATE,EMP_DEPTNO,DEPARTMENT_NAME,MANAGER_ID,LOCATION_ID
20,7369,SMITH,CLERK,7902,17-12-1980,800,null,2022-01-01,20,Marketing,201,1800
30,7499,ALLEN,SALESMAN,7698,20-02-1981,1600,300,2022-01-01,30,Purchasing,114,1700
30,7521,WARD,SALESMAN,7698,22-02-1981,1250,500,2022-01-01,30,Purchasing,114,1700
20,7566,JONES,MANAGER,7839,04-02-1981,2975,null,2022-01-05,20,Marketing,201,1800
30,7654,MARTIN,SALESMAN,7698,21-09-1981,1250,1400,2022-01-03,30,Purchasing,114,1700
30,7698,SGR,MANAGER,7839,05-01-1981,2850,null,2022-01-04,30,Purchasing,114,1700
10,7782,RAVI,MANAGER,7839,06-09-1981,2450,null,2022-01-02,10,Administration,200,1700
20,7788,SCOTT,ANALYST,7566,19-04-1987,3000,null,2022-01-02,20,Marketing,201,1800
10,7839,KING,PRESIDENT,null,01-11-1981,5000,null,2022-01-02,10,Administration,200,1700
30,7844,TURNER,SALESMAN,7698,09-08-1981,1500,0,2022-01-02,30,Purchasing,114,1700
20,7876,ADAMS,CLERK,7788,23-05-1987,1100,null,2022-01-03,20,Marketing,201,1800
30,7900,JAMES,CLERK,7698,12-03-1981,950,null,2022-01-03,30,Purchasing,114,1700
20,7902,FORD,ANALYST,7566,12-03-1981,3000,null,2022-01-03,20,Marketing,201,1800
10,7934,MILLER,CLERK,7782,01-03-1982,1300,null,2022-01-03,10,Administration,200,1700
80,1234,SEKHAR,doctor,7777,null,667,78,2022-01-03,80,Sales,145,2500
20,7369,SMITH,CLERK,7902,17-12-1980,800,null,2022-01-04,20,Marketing,201,1800
30,7499,ALLEN,SALESMAN,7698,20-02-1981,1600,300,2022-01-04,30,Purchasing,114,1700
30,7521,WARD,SALESMAN,7698,22-02-1981,1250,500,2022-01-04,30,Purchasing,114,1700
20,7566,JONES,MANAGER,7839,04-02-1981,2975,null,2022-01-04,20,Marketing,201,1800
30,7654,MARTIN,SALESMAN,7698,21-09-1981,1250,1400,2022-01-05,30,Purchasing,114,1700
30,7698,SGR,MANAGER,7839,05-01-1981,2850,null,2022-01-05,30,Purchasing,114,1700
10,7782,RAVI,MANAGER,7839,06-09-1981,2450,null,2022-01-05,10,Administration,200,1700
20,7788,SCOTT,ANALYST,7566,19-04-1987,3000,null,2022-01-06,20,Marketing,201,1800
10,7839,KING,PRESIDENT,null,01-11-1981,5000,null,2022-01-06,10,Administration,200,1700
30,7844,TURNER,SALESMAN,7698,09-08-1981,1500,0,2022-01-06,30,Purchasing,114,1700
20,7876,ADAMS,CLERK,7788,23-05-1987,1100,null,2022-01-06,20,Marketing,201,1800
30,7900,JAMES,CLERK,7698,12-03-1981,950,null,2022-01-07,30,Purchasing,114,1700
20,7902,FORD,ANALYST,7566,12-03-1981,3000,null,2022-01-07,20,Marketing,201,1800
10,7934,MILLER,CLERK,7782,01-03-1982,1300,null,2022-01-07,10,Administration,200,1700
80,1234,RAM,CLERK,7457,null,494,588,2022-01-07,80,Sales,145,2500