In [0]:
# RDD LEVEL:
#     COALESCE()
#     1.Can not increase partitons by default,only for descrease partitons
#     2.Uses the nearest partitons,it wount do shuffle
#     NOTE:keep shuffle parametr True in COALESCE(),it will work for increase partitons

#     REPARTITION()
#     1.Increase/Descrease partitons
#     2.Always recreates partitons either increase/descrease,it will shuffle always
    
# DATAFRAME LEVEL:
#     COALESCE()
#     1.Can not increase partitons,only for descrease partitons
#     2.Uses the nearest partitons,it wount do shuffle
#     NOTE:convert DF to RDD then,it will work for increase partitons, and finally convert to DF by toDF()

#     REPARTITION()
#     1.Increase/Descrease partitons
#     2.Always recreates partitons either increase/descrease,it will shuffle always
#     NOTE:Has additional parametr col name(DEPT..etc) in REPARTITION(),it will work for column based partitons

In [0]:
rdd = sc.parallelize(range(10),4)

In [0]:

rdd.glom().collect()

Out[3]: [[0, 1], [2, 3, 4], [5, 6], [7, 8, 9]]

In [0]:
rdd1 = rdd.coalesce(6,True)  # default it works for only decreasing no of partitions
rdd2 = rdd.repartition(6) # it works for increasing/decreasing no of partitions

In [0]:
print('original rdd : ',rdd.glom().collect())
print('coalesce 2 : ',rdd1.glom().collect())
print('repartition 2  : ',rdd2.glom().collect())

original rdd :  [[0, 1], [2, 3, 4], [5, 6], [7, 8, 9]]
coalesce 2 :  [[7, 8, 9], [], [], [0, 1], [2, 3, 4], [5, 6]]
repartition 2  :  [[7, 8, 9], [], [], [0, 1], [2, 3, 4], [5, 6]]

In [0]:
df = spark.read.csv("dbfs:/FileStore/tables/emp-1.csv",header=True)

In [0]:
#repartition
from pyspark.sql.functions import spark_partition_id
df1=df.repartition(4,"DEPTNO").withColumn("partition_id",spark_partition_id())

In [0]:
df1.show()

+-----+------+--------+----+----------+----+----+------+------------+------------+
|EMPNO| ENAME|     JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|partition_id|
+-----+------+--------+----+----------+----+----+------+------------+------------+
| 1234|SEKHAR|  doctor|7777|      null| 667|  78|    80|  2022-01-03|           0|
| 1234|   RAM|   CLERK|7457|      null| 494| 588|    80|  2022-01-07|           0|
| null|  null|    null|null|      null|null|null|  null|        null|           1|
| null|  null|    null|null|      null|null|null|  null|        null|           1|
| null|  null|    null|null|      null|null|null|  null|        null|           1|
| 7369| SMITH|   CLERK|7902|17-12-1980| 800|null|    20|  2022-01-01|           2|
| 7566| JONES| MANAGER|7839|04-02-1981|2975|null|    20|  2022-01-05|           2|
| 7788| SCOTT| ANALYST|7566|19-04-1987|3000|null|    20|  2022-01-02|           2|
| 7876| ADAMS|   CLERK|7788|23-05-1987|1100|null|    20|  2022-01-03|           2|
| 7902|  FORD| ANALYST|7566|12-03-1981|3000|null|    20|  2022-01-03|           2|
| 7369| SMITH|   CLERK|7902|17-12-1980| 800|null|    20|  2022-01-04|           2|
| 7566| JONES| MANAGER|7839|04-02-1981|2975|null|    20|  2022-01-04|           2|
| 7788| SCOTT| ANALYST|7566|19-04-1987|3000|null|    20|  2022-01-06|           2|
| 7876| ADAMS|   CLERK|7788|23-05-1987|1100|null|    20|  2022-01-06|           2|
| 7902|  FORD| ANALYST|7566|12-03-1981|3000|null|    20|  2022-01-07|           2|
| 7499| ALLEN|SALESMAN|7698|20-02-1981|1600| 300|    30|  2022-01-01|           3|
| 7521|  WARD|SALESMAN|7698|22-02-1981|1250| 500|    30|  2022-01-01|           3|
| 7654|MARTIN|SALESMAN|7698|21-09-1981|1250|1400|    30|  2022-01-03|           3|
| 7698|   SGR| MANAGER|7839|05-01-1981|2850|null|    30|  2022-01-04|           3|
| 7782|  RAVI| MANAGER|7839|06-09-1981|2450|null|    10|  2022-01-02|           3|
+-----+------+--------+----+----------+----+----+------+------------+------------+
only showing top 20 rows

In [0]:
#coalesce
from pyspark.sql.functions import spark_partition_id
df2=df.coalesce(4).withColumn("partition_id",spark_partition_id())

In [0]:
df2.show()

+-----+------+---------+----+----------+----+----+------+------------+------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|UPDATED_DATE|partition_id|
+-----+------+---------+----+----------+----+----+------+------------+------------+
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|null|    20|  2022-01-01|           0|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  2022-01-01|           0|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250| 500|    30|  2022-01-01|           0|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|null|    20|  2022-01-05|           0|
| 7654|MARTIN| SALESMAN|7698|21-09-1981|1250|1400|    30|  2022-01-03|           0|
| 7698|   SGR|  MANAGER|7839|05-01-1981|2850|null|    30|  2022-01-04|           0|
| 7782|  RAVI|  MANAGER|7839|06-09-1981|2450|null|    10|  2022-01-02|           0|
| 7788| SCOTT|  ANALYST|7566|19-04-1987|3000|null|    20|  2022-01-02|           0|
| 7839|  KING|PRESIDENT|null|01-11-1981|5000|null|    10|  2022-01-02|           0|
| 7844|TURNER| SALESMAN|7698|09-08-1981|1500|   0|    30|  2022-01-02|           0|
| 7876| ADAMS|    CLERK|7788|23-05-1987|1100|null|    20|  2022-01-03|           0|
| 7900| JAMES|    CLERK|7698|12-03-1981| 950|null|    30|  2022-01-03|           0|
| 7902|  FORD|  ANALYST|7566|12-03-1981|3000|null|    20|  2022-01-03|           0|
| 7934|MILLER|    CLERK|7782|01-03-1982|1300|null|    10|  2022-01-03|           0|
| 1234|SEKHAR|   doctor|7777|      null| 667|  78|    80|  2022-01-03|           0|
| 7369| SMITH|    CLERK|7902|17-12-1980| 800|null|    20|  2022-01-04|           0|
| 7499| ALLEN| SALESMAN|7698|20-02-1981|1600| 300|    30|  2022-01-04|           0|
| 7521|  WARD| SALESMAN|7698|22-02-1981|1250| 500|    30|  2022-01-04|           0|
| 7566| JONES|  MANAGER|7839|04-02-1981|2975|null|    20|  2022-01-04|           0|
| 7654|MARTIN| SALESMAN|7698|21-09-1981|1250|1400|    30|  2022-01-05|           0|
+-----+------+---------+----+----------+----+----+------+------------+------------+
only showing top 20 rows